.address-choose{
	background: #fff;
	padding: 16px 30px;
	margin-top: 20px;
}
.choose-group{
	line-height: 44px;
}
.choose-group span{
	font-size: 14px;
	color: #414a60;
	padding: 2px 5px;
	margin-right: 10px;
	border-radius: 2px;
	cursor: pointer;
	white-space: nowrap;
}
.choose-group span.on,.choose-group span:hover{
	color: #fff;
	background: #2bbbfd;
}
.section-list{
	background: #fff;
	margin-top: 20px;
}
.module-bline{
	border-bottom: 1px solid #f1f4f9;
}
.section-list-head{
	height: 70px;
	padding: 13px 30px;
}
.section-list-li{
	padding: 20px 30px;
	height: 144px;
}
.place-name{
	font-size: 20px;
	color: #414a60;
	/*background: url(../images/line.png) no-repeat right center;*/
	padding-right: 15px;
	cursor: pointer;
}
.place-menu{
	font-size: 16px;
	color: #414a60;
	margin: 0 10px;
}
.place-hot{
	color: #ff722d;
	font-size: 12px;
	padding: 1px 3px;
	border: 1px solid #ff722d;
	border-radius: 2px;
	white-space: nowrap;
}
.place-end{
	color: #414a60;
	font-size: 12px;
	padding: 1px 3px;
	border: 1px solid #414a60;
	border-radius: 2px;
	white-space: nowrap;
}
.place-address{
	font-size: 14px;
	color: #414a60;
	padding-left: 20px;
	display: inline-block;
	height: 64px;
	line-height: 64px;
	background: url(../images/address.png) no-repeat left center;
}
.place-time{
	font-size: 14px;
	color: #414a60;
	padding-left: 20px;
	display: inline-block;
	height: 64px;
	line-height: 64px;
	margin-left: 20px;
	background: url(../images/time.png) no-repeat left center;
}
.place-welfare{
	font-size: 12px;
	color: #9fa3af;
	padding: 2px 10px;
	border: 1px solid #9fa3af;
	border-radius: 15px;
	margin-right: 15px;
}
.place-price{
	display: inline-block;
	height: 104px;
	line-height: 104px;
	color: #414a60;
	font-size: 14px;
	margin-right: 50px;
}
.place-price em{
	font-size: 24px;
	color: #ff722d;
}
.place-btn0{
	margin: 0;
	padding: 0;
	outline: none;
	width: 140px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border: 1px solid #00b0ff;
	background: #00b0ff;
	color: #fff;
	font-size: 16px;
	border-radius: 2px;
	cursor: pointer;
}
.place-btn0.active-blue{
	background: #0079b1;
	border: 1px solid #0079b1;
}
.place-btn0.waiting{
	color: #414a60;
	background: #fff;
	border: 1px solid #bdc6d4;
}
.place-btn0.waited{
	color: #56d176;
	background: #fff;
	border: 1px solid #56d176;
}
.waited-img{
	vertical-align: sub;
	margin-right: 10px;
}
.place-btn0.wait-will{
	color: #414a60;
	background: #fff;
	border: 1px solid #bdc6d4;
}
.menu-name a{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #414a60;
	vertical-align: middle;
}
.next-tubiao{
	display: inline-block;
	width: 20px;
	height: 50px;
	vertical-align: middle;
	background: url(../images/next.png) no-repeat center center;
}
.start-time{
	padding-top: 20px;
	overflow: hidden;
}
.end-time{
	height: 34px;
	line-height: 34px;
	margin-top: 10px;
}
.job-time{
	width: 700px;
	/*height: 240px;*/
	padding: 30px;
	background: #fff;
	margin-top: 20px;
	overflow: hidden;
	padding-top: 40px;
}
.job-address{
	width: 700px;
	height: 120px;
	padding: 30px;
	background: #fff;
	margin-top: 20px;
	padding-top: 40px;
}
.job-ask{
	width: 700px;
	padding: 30px;
	background: #fff;
	margin-top: 20px;
	padding-top: 40px;
}
.job-enroll{
	width: 700px;
	padding:50px 30px;
	background: #fff;
	margin-top: 20px;
	margin-bottom: 50px;
}
.detail-time{
	display: inline-block;
	width: 210px;
}
.detail-time.on{
	font-weight: bold;
}
.detail-date{
	display: inline-block;
	width: 180px;
}
.detail-price{
	display: inline-block;
	width: 100px;
	font-size: 14px;
	color: #ff722d;
}
.time-list-li{
	height: 34px;
	line-height: 34px;
}
.time-list-li-btn{
	width: 490px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #e3e7ed;
	border-radius: 2px;
	cursor: pointer;
}
.check-more{
	color: #414a60;
	background: url(../images/more-gray.png) no-repeat right center;
	padding-right: 20px;
}
.time-list-li-btn:hover .check-more {
	color: #2bbbfd;
	background: url(../images/san-blue.png) no-repeat right center;
}
.check-up{
	color: #414a60;
	background: url(../images/arrow_up_gray.png) no-repeat right center;
	padding-right: 20px;
}
.time-list-li-btn:hover .check-up{
	color: #2bbbfd;
	background: url(../images/arrow_up_blue.png) no-repeat right center;
}
.see-address{
	color: #2bbbfd;
	padding-left: 20px;
	background: url(../images/address-blue.png) no-repeat left center;
	cursor: pointer;
}
.job-ask-detail{
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}
.job-ask-title{
	margin-top: 40px;
}
.job-ask-detail.on{
	padding-right: 20px;
	background: url(../images/line0.png) no-repeat right center;
}
.job-detail-box{
	margin-top: 30px;
	line-height: 18px;
}
.job-detail{
	height: 30px;
	line-height: 30px;
}
.phone-input{
	height: 40px;
	line-height: 40px;
	border: 1px solid #e3e7ed;
	outline: none;
	padding: 0 0 0 10px;
	font-size: 14px;
	margin-left: 20px;
	border-radius: 2px;
}
.code-btn{
	margin-left: 20px;
	padding: 0 13px;
	border: 1px solid #e3e7ed;
	border-radius: 2px;
	height: 40px;
	line-height: 40px;
	outline: none;
	font-size: 14px;
	color: #2bbbfd;
	background: #fff;
	cursor: pointer;
}
.sign-box{
	margin-top: 50px;
	text-align: center;
}
.cue-box{
	margin-top: 50px;
	color: #9fa3af;
	font-size: 14px;
	text-align: center;
}
.job-right-aside{
	width: 280px;
}
.aside-top-box{
	width: 280px;
	height: 300px;
	padding: 50px 25px;
	background: #fff;
}
.aside-top-logo{
	text-align: center;
	margin-bottom: 15px;
}
.aside-top-logo img{
	height: 80px;
	width: 80px;
}
.aside-top-li{
	height: 44px;
	line-height: 44px;
	overflow: hidden;
}
.aside-top-li0{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.aside-top-li.on{
	font-weight: bold;
}
.aside-bottom-box{
	height: 240px;
	width: 280px;
	margin-top: 20px;
	background: #fff;
	padding: 20px 30px;
}
.job-guarantee{
	margin-top: 20px;
	text-align: center;
}
.job-guarantee img{
	width: 30px;
	height: 33px;
}
.job-guarantee-name{
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-weight: bold;
}
.job-guarantee-detail{
	margin-bottom: 30px;
	height: 20px;
	text-align: center;
}
.job-guarantee-btn{
	padding:4px;
	margin-right: 6px;
}
.logined-box{
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.logined-detail{
	padding-left: 25px;
	background: url(../images/checked.png) no-repeat left center /16px 16px;
}

/*兼职保障详情*/
.part-box{
	margin-bottom: 20px;
}
.part-name{
	height: 80px;
	line-height: 80px;
}
.part-name-li{
	height: 54px;
	line-height: 54px;
	padding-left: 20px;
	background: url(../images/blue-line.png) no-repeat left center;
}
.part-detail{
	height: 74px;
	line-height: 74px;
}
.part-check{
	height: 77px;
	line-height: 77px;
	padding: 0 30px;
	overflow: hidden;
	background: #f5f5f5;
}
.guarantee-detail{
	height: 34px;
	line-height: 34px;
}
.way-name{
	height: 60px;
	line-height: 60px;
}
.way-detail{
	line-height: 30px;
	padding-bottom: 14px;
}
/*实名认证*/
.real-name{
	height: 44px;
	line-height: 44px;
	width: 110px;
	text-align: right;
	margin-top: 30px;
}
.real-name.active{
	height: 14px;
	line-height: 14px;
}
.real-input{
	margin-left: 20px;
	border: none;
	border-bottom: 1px solid #e3e7ed;
	color: #9fa3af;
	font-size: 14px;
	outline: none;
	padding: 0;
	height: 44px;
	line-height: 44px;
	margin-top: 36px;
	width: 300px;
}
.real-pic{
	width: 160px;
	text-align: center;
	margin-left: 20px;
	margin-top: 40px;
}
.real-pic img{
	width: 160px;
	height: 160px;
}
.real-pic-name{
	height: 44px;
	line-height: 44px;
}
.file-pic{
	outline: none;
	border: none;
	padding: 0;
	width: 160px;
	height: 160px;
	opacity: 0;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 1;
}
.submit-box{
	padding-left: 130px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.real-wain{padding-left: 130px;}
/*已实名认证*/
.realed-li{
	margin-left: 20px;
	margin-top: 30px;
	height: 44px;
	line-height: 44px;
}

/*提交成功*/
.success-wain{
	text-align: center;
}
.success-li{
	padding: 50px 0;
	text-align: center;
}
.success-box{
	padding-top: 200px;
	text-align: center;
}
.success-box img{
	width: 85px;
	height: 84px;
}
/*城市选择*/
.address-li{
	height: 40px;
	line-height: 40px;
}
.address-li span{
	margin-left: 20px;
}
.address-list{
	margin-top: 15px;
}
.address-list-li{
	line-height: 44px;
}
.address-list li div{
	width: 20px;
	height: 44px;
}
.address-list li P{
	width: 920px;
}

/*企业入口*/
.enterprise-p1{
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	color: #fff;
}
.enterprise-p2{
	height: 58px;
	line-height: 58px;
	font-size: 58px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 35px;
}
.enterprise-f2{
	padding: 260px 20px 270px;
	width: 1000px;
	margin: 0 auto;
}
.enterprise-f2-box{
	width: 960px;
	height: 400px;
}
/*二楼hover效果*/
.enterprise-f2-box li{
	float: left;
	width: 240px;
	height: 400px;
	background: #fff;
	position: relative;
	text-align: center;
	cursor: pointer;
	transition: all 1s;
}
.enterprise-f2-box li:hover{
	background:#00b0ff;
	box-shadow: 0px 12px 0px #00b0ff,0 -12px 0 #00b0ff;
}
.enterprise-f2-box li:hover p{
	color: #fff;
}
.enterprise-f2-box li:hover .enterprise-f2-line{background: #fff;}
.enterprise-f2-box li:hover div img{
	display: none;
}
.enterprise-f2-box li:hover div img:last-child{
	display: inline-block;
}
.enterprise-f2-img img{display: none;}
.enterprise-f2-img img:first-child{
	display: inline-block;
}
.enterprise-f2-p1{
	height: 90px;
	line-height: 90px;
}
.enterprise-f2-p2{
	height: 26px;
	line-height: 26px;
}
.enterprise-f2-line{
	height: 1px;
	width: 100px;
	background: #505050;
	margin: 0 auto 37px;
}
/*2楼hover效果结束*/
.enterprise-f3-p1{
	height: 50px;
	line-height: 50px;
}
.enterprise-f3-p2{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #9fa3af;
}
.enterprise-f-name{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.enterprise-f-name-d{
	line-height: 32px;
	text-align: center;
}
.service-list{padding-bottom: 240px;}
.service-list li{
	width: 240px;
	height: 240px;
	text-align: center;
	float: left;
	background: #9fa3af;
	color: #fff;
	padding: 30px;
	cursor: pointer;
	margin-left: 110px;
	transition: all 1s;
}
.service-list li:first-child{
	margin-left: 30px;
}
.service-list li:hover{
	background: #2baefd;
	box-shadow: 0 0 15px #2baefd;
}
.service-list-p1{
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	font-size: 30px;
}
.service-list-p2{
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	font-size: 14px;
}
.personnel-list{width: 780px;margin: 60px auto 240px;font-size: 0;}
.personnel-list ul{
	width: 390px;
}
.personnel-list li{
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	position: relative;
}
.personnel-list li:hover .personnel-wain{display: block;}
.personnel-wain{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	line-height: 100%;
	top: 45%;
	top:calc(50% - 15px);
	left: 0;
	z-index: 10;
}
.personnel-wain:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	position: absolute;
	top: -45%;
	top: calc(-50% + 15px);
	left: 0;
	z-index: -1;
}
.service-box{padding-bottom: 250px;}
.service-box li{
	width: 160px;
	text-align: center;
	margin-left: 72px;
	float: left;
}
.service-box-p1{
	margin: 30px 0;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}
.service-box-p2{
	margin: 5px 0;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
}
.look-name{
	font-size: 48px;
	color: #fff;
	text-align: center;
}
.look-phone{
	font-size: 30px;
	color: #fff;
	text-align: center;
	height: 80px;
	line-height: 80px;
}
.date-hide{
	display: none;
}
.msg-box-main{
	width:100%;height: 100%;background-color: white;text-align: center;
}
.msg-box-title{
	height: 70px;padding-top: 35px;font-size: 20px;font-weight: 700;
}
.msg-box-content{
	height: 60px;padding-top: 20px;font-size: 16px;
}
.msg-box-button{
	height: 60px;padding-top: 15px;
}
.msg-box-cancel{
	margin-left: 35px;
}